body {
  background-color: black;
  color: greenyellow;
  height: 100%;
  width: 100%;
}

.center {
  margin: auto;
  border: 2px solid darkgrey;
  vertical-align: middle;
  /* padding: 10px; */
}

.txt {
  font-style: normal;
  font-weight: bold;
  font-size: larger;
  color: green;
  /* background-color: yellow; */
}

.button {
  background-color: green;
  /* Green */
  border: 1;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}